@import '../../styles/Variables.less';

.search-input-container {
  display: flex;
  align-items: center;
  width: 300px;
  position: relative;
}

.search-input-loupe {
  position: absolute;
  left: 17px;
  font-size: 22px;
  line-height: 10px;
}
