{
  "extends": ["next", "prettier"],
  "ignorePatterns": ["build/", "translations/"],
  "globals": {
    "fetch": false,
    "Response": false,
    "ReadableStream": false,
    "DOMParser": false,
    "IntersectionObserver": false,
    "FormData": false
  },
  "env": {
    "es6": true
  },
  "settings": {
    "import/core-modules": [
      "styled-jsx/css"
    ]
  },
  "rules": {
    "template-curly-spacing": "off",
    "quotes": [2, "single"],
    "semi": [2, "never"],
    "indent": ["error", 2, {
      "ignoredNodes": ["TemplateLiteral"],
      // "SwitchCase": 1,
      "ArrayExpression": 1,
      "ObjectExpression": 1,
      // "offsetTernaryExpressions": true,
      "ImportDeclaration": 1

    }],
    "import/order": [2, {
      "groups": ["builtin", "external", "internal", "parent", "sibling", "index", "object", "type"],
      "newlines-between": "never"
    }],
    "padding-line-between-statements": [2,
      { "blankLine": "always", "prev": "*", "next": "return" },
      { "blankLine": "always", "prev": "block-like", "next": "*" }
    ],
    "@next/next/no-img-element": "off",
    "react-hooks/rules-of-hooks": "warn",
    "arrow-body-style": "off",
    "prefer-arrow-callback": "off",
    "eol-last": "error",
    "object-curly-spacing": [2, "always"],
    "object-shorthand": "error",
    "space-before-blocks": "error",
    "no-trailing-spaces": "error",
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 1, "maxBOF": 0 }],
    "keyword-spacing": "error"
  }
}
