body {
  background-color: #FAFAFA;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #282733;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}
.btn,
.primary-btn,
.secondary-btn,
.tertiary-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  width: 150px;
  height: 32px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
}
.primary-btn {
  background-color: #325BE3;
  color: #FFFFFF;
}
.secondary-btn {
  border: 1px solid #325BE3;
  color: #325BE3;
}
.tertiary-btn {
  color: #325BE3;
}
